
@{
    ViewBag.Title = "BookDetails";
}

<h2>BookDetails</h2>
<h1>
    @Model.name -
    @if (Model.status)
    {
        <span class="text-success">Book Available </span>
    }
    else
    {
        <span class="text-danger">Book Out </span>
    }

</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            # Borrows - @Model.totalBorrows
        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary" style="float:right" onclick="window.location.href = '@Url.Action("ViewStudents","Home",new { BookID = Model.bookID })'"> View Students</button>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <table class="table">
        <thead>
            <tr>

                <th>
                    Taken Date:
                </th>
                <th>
                    Brought Date:
                </th>
                <th>
                    Borrowed By:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.borrowedRecords)
            {
                <tr>
                    <td>
                        @record.BorrowID
                    </td>
                    <td>
                        @record.TakenDate
                    </td>
                    <td>
                        @if (record.BroughtDate != null)
                        {
                            <span>@record.BroughtDate</span>
                        }
                        else
                        {
                            <span class="text-danger">Book Out</span>
                        }
                    </td>
                    <td>
                        @record.StudentName
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

